* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 70px 0;
}

.header-logo {
    margin-left: 50px;
}

.main-one-left {
    width: 500px;
}

.main-one-right img {
    width: 100%;
    max-width: 500px;
}

.header-links {
    margin-right: 50px;
}

.header-logo {
    font-size: 36px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    width: auto;
    display: flex;
    margin: 5px;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 16px;
}

.main-one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 70px 50px;
    padding-bottom: 120px;
    gap: 100px;
}

.main-one-left-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-one-left-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    border-radius: 8%;
    padding: 8px;
}

.header-button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 8px;
    margin-top: 12px;
    width: 100px;
    height: auto;
    text-align: center;
    border-style: none;
}

.header-button:hover, .footer-button:hover {
    background-color: #255aaf;
}

.link:hover {
    color: #aeb1ab;
}

.main-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 52px;
    margin-bottom: 150px;
}

.main-two-text  {
    text-align: center;
}

.main-two-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 60px;
    text-align: center;
}

.main-two-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.main-three {
    background-color: #E5E7EB;
}

.main-three-text {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    padding: 10%;
}

.quote-credit {
    text-align: right;
    font-weight: 600;
    font-style: normal;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: solid 1px #3882f6;
    padding: 30px;
    border-radius: 10px;
    color: #E5E7EB;
    max-width: 500px;
    margin: 100px auto;
}

.footer-button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 4px;
    margin-top: 12px;
    width: 120px;
    height: auto;
    text-align: center;
    border: 2px solid #F9FAF8;
}

.footer-header-text {
    font-size: 22px;
    font-weight: bold;
}

.footer-cta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}